*{
	/*box-sizing:border-box;*/
	margin:0;
	padding:0;
	
}
.white{
	background-color:white;
	height:20px;
	margin-bottom:9px;
}
h1{
	text-align:center;
}
.book-library{
	background-color:#f8f8f8;
	width:60%;
	display:flex;
	flex-direction:column;
	gap:10px;
	box-shadow:0 1px 0 1px;
	border:2px soft-light gray;
	margin:10px;
	border:solid gray;
	border-radius:5px;
}
.book {
	text-align:flex-start;
	
}
.book img{
	height:150px;
	width:120px;
	display:flex;
	justify-self:center;
}
.author{
	color:#777777;
	margin-left:10px;
}

.price{
	background-color: rgb(46, 204, 113);
	width:92%;
	height:16px;
	padding:5px;
	border-radius:5px;
	justify-self:center;
	text-align:center;
	margin:5px;
	color:white;
	
}
h2{
	margin-left:10px;
}