body{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
	width:70vw;
	justify-self:center;
}
.book{
	text-align:center;
	padding:10px;
}
h1{
	text-align:center;
	font-size:24px;
	padding:8px;
}
h2,.author{
	text-align:left;
	margin:0;
}
.author{
	color:#777777;
}
.price-block{
	background-color:#2ecc71;
	padding:4px;
	border-radius:4px;
	color:white;
}